@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@200&display=swap');


.container-fluid {
    margin: 0;
    padding: 0 0 0 4%;


}

.collection-head {
    font-family: poppins;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
}

.collection-a {
    text-decoration: none;
    font-family: poppins;
    font-weight: 400;
    color: #000000;
    position: relative;
    right: 30px;
}

.coillecton-li {
    list-style: none;
}

.hover-block {
    position: absolute;
    top: 7%;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 20px;
    /* Add desired padding */
    background-color: white;
    color: black;
    overflow: hidden;
    transition: height 0.3s ease;
    z-index: 10;
}


.nav-link {
    font-family: poppins;
    color: black;
    font-weight: 900;
}

.right-nav {
    position: relative;
    left: 23%;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.front {
    position: relative;

}

.allContent {
    position: relative;
    top: 90px;


}

.allContent p,
.allContent h1,
.allContent button {
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.allContent p {
    margin-top: -40px;
    font-family: raleway;
    text-transform: capitalize;
    color: white;
    font-size: 1.5rem;
}

.allContent h1 {
    margin-bottom: 7px;
    color: white;
    font-family: poppins;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.allContent button {
    margin-top: 50px;
    border-style: none;
    padding: 6px 10px;
    font-family: poppins;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 0.9rem;
    background-color: white;


}

.main {
    height: 100vh;
    padding: 0;
}

.heading {
    font-family: poppins;
    color: white;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 3.5rem;
    width: 500px;
}

.content {
    position: absolute;
    top: 18%;
    padding-left: 60px;
}

.f-btn {
    width: 150px;
    font-family: poppins;
    position: relative;
}

.wrapper {
    width: 100%;
    padding: 1.5%;
    position: relative;
    right: 1px;
}

.card1 {
    margin-top: 105px;

}

.card2 {
    margin-top: 105px;


}

.card4 {
    position: relative;
    bottom: 8px;
    left: 20px;
}

.carousel-inner {
    padding: 0 12% 0 18%;
}

.c-img {
    padding-right: 20px;
}

.carousel-item {
    padding: 3%;
}

.crousel-h2 {
    font-family: poppins;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 8px;
}

.crousel-btn-left,
.crousel-btn-right {
    background-color: white;
    opacity: 1;

}

.crousel-btn-left:focus,
.crousel-btn-right:focus {
    opacity: 1;

}

.crousel-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5% 0 2% 0;
}

.crousel-sec {
    padding: 5% 0;
}

.crousel-p h1 {
    font-family: poppins;
    font-weight: 900;
    text-transform: uppercase;

}

.crousel-p p {
    font-family: raleway;
    color: rgb(77, 75, 75);

}

.cateroryshop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;

}

.cate-img {
    border-radius: 50%;
}

.circle {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    position: relative;
    left: 15%;
}

.shop-cat {
    width: 200px;
    font-family: oswald;
    font-weight: 900;
    text-transform: capitalize;
    position: relative;
    right: 40%;
}

.shop-cat span {
    text-transform: capitalize;
    font-family: dancing script;
    font-size: 4rem;
}

.cateroryshop {
    margin: 0% 0 6% 0;
    padding: 2% 0;
    color: white;
    background-color: #352a32;
}

.circle p {
    padding-top: 10px;
    font-family: poppins;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.p-testimonial {
    width: 400px;
    height: 400px;
    background-color: white;
    position: relative;
    top: 40px;
    left: 10%;
    padding: 3%;

}

.testimonial {
    background-color: #a3a3a3;
}

.testimonial-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    line-height: 1.5;
}

.whatclient {
    font-family: poppins;
    font-weight: 900;

}

.specific {
    text-transform: capitalize;
    font-style: italic;
}

.review {
    text-transform: capitalize;
    margin-top: 20px;
}

.testimonial {
    height: 60vh;
}

.footer {
    height: 50vh;
    padding: 4% 10% 10% 10%;
    background-color: #a3a3a3;
}

.f-h3 {
    font-family: raleway;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-weight: 400;


}

.f-li {
    list-style: none;
    text-transform: capitalize;
    font-size: 1rem;
    position: relative;
    right: 30px;
    width: 300px;
    color: rgb(95, 95, 93);
}

.f-content {
    position: relative;
    left: 40%;
}

.f-h2 {
    font-family: raleway;

}

.f-input {
    width: 360px;
    background: #b9b9b9;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 15px 18px;
    margin-top: 20px;
}

.f-btn {
    display: inline-block;
    padding: .75rem 1.25rem;
    margin-top: 20px;
    border-radius: 4px;
    background-color: #b9b9b9;
    color: #000000;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    border-style: none;
    font-weight: 700;


}

@media only screen and (max-width: 990px) {
    .heading {
        font-size: 1rem;
        width: 50px;

    }

    .allContent {
        top: 70px !important;
    }

    .content {
        top: 10%;
    }

    .f-btn {
        padding: 2px;
        margin-top: 0px;
        font-size: 0.8rem;
        width: 100px;
        position: relative;
        bottom: 6px;
    }

    .main {
        height: fit-content;
    }

    .disable {
        display: none;
    }

    .crousel-sec {
        margin-top: 50px;
    }

    .crousel-p p {
        width: 400px;
    }

    .cateroryshop {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding-top: 20px;
    }

    .circle {
        left: 0;
    }

    .p-testimonial {
        margin: 0;
        left: 16px;
        width: 280px;
    }

    .testimonial {

        height: 550px;
    }

    .f-content {
        left: 0;
        width: 200px;
    }

    .f-input {
        width: 250px;
        margin-bottom: 20px;
    }

    .footer {
        height: 80vh;
    }

    .c-img {
        height: 200px;
        width: 200px;
    }

    .carousel-item {
        padding: 0;
    }

    .crousel-p p {
        width: 250px;
    }

    .c-img {
        padding: 1%;
        display: flex;
        justify-content: center;
        margin: auto;

    }

    .crousel-con {
        margin-bottom: 30px;
    }

    .shop-cat {
        right: 0;
        margin-top: 10px;

    }

    .p-testimonial {
        left: 0;
        display: flex;
        margin: auto;
    }

    .footer {
        height: 700px;
        padding: 40px;
    }


}

@media screen and (max-width: 1280px) {
    .allContent {
        top: 4px;
    }
}


@media only screen and (max-width: 450px) {
    .allContent {
        top: 90px !important;
    }
}